In [1]:
import env
import pandas as pd

In [2]:
def get_connection(db_name, username = env.user, host=env.host, password=env.password):
    '''
    This function makes a connection with and pulls from the CodeUp database. It 
    takes the database name as its argument, pulls other login info from env.py.
    Make sure you save this as a variable or it will print out your sensitive user
    info as plain text. 
    '''
    return f'mysql+pymysql://{username}:{password}@{host}/{db_name}'

In [3]:
store_df = pd.read_sql('''SELECT *
                        FROM items
                        JOIN sales using(item_id)
                        JOIN stores using(store_id);''',
                      get_connection('tsa_item_demand'))

In [4]:
store_df.head(3)

,store_id,item_id,item_upc14,item_upc12,item_brand,item_name,item_price,sale_id,sale_date,sale_amount,store_address,store_zipcode,store_city,store_state
0,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,1,2013-01-01,13,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
1,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,2,2013-01-02,11,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
2,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,3,2013-01-03,14,12125 Alamo Ranch Pkwy,78253,San Antonio,TX

In [5]:
store_df.shape

(913000, 14)

In [6]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   store_id       913000 non-null  int64
 1   item_id        913000 non-null  int64
 2   item_upc14     913000 non-null  object
 3   item_upc12     913000 non-null  object
 4   item_brand     913000 non-null  object
 5   item_name      913000 non-null  object
 6   item_price     913000 non-null  float64
 7   sale_id        913000 non-null  int64
 8   sale_date      913000 non-null  object
 9   sale_amount    913000 non-null  int64
 10  store_address  913000 non-null  object
 11  store_zipcode  913000 non-null  object
 12  store_city     913000 non-null  object
 13  store_state    913000 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 97.5+ MB